useDynLib(cudaBayesreg)
export(
	cudaMultireg.slice,
	premask,
	plot.hcoef.post,
	pmeans.hcoef,
	read.fmrislice,
	read.Zsegslice,
	regpostsim,
	post.ppm,
	post.simul.betadraw,
	post.simul.hist,
	post.tseries,
	post.shrinkage.mean,
	post.shrinkage.minmax,
	post.randeff)
