useDynLib(cudaBayesreg)

import("oro.nifti")
import("cudaBayesregData")

export(
cudaMultireg.slice,
cudaMultireg.volume,
buildzstat.volume,
premask,
plot.hcoef.post,
plot.bayesm.mat,
pmeans.hcoef,
read.fmrislice,
read.Zsegslice,
regpostsim,
post.ppm,
post.simul.betadraw,
post.simul.hist,
post.tseries,
post.shrinkage.mean,
post.shrinkage.minmax,
post.randeff,
post.overlay)
